@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #00cccc;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

  //ヘッダー写真　モバイルは高さ250px　
header {
  .header-photo { 
    background-image: url("../images/PAKPIANO9V9A7324_TP_V.jpg");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

main {
  .profile {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    clear: both;
  }
  .site-title {
    font-size: 2.8rem;
    line-height: normal;
    span {
      display: block;
      font-size: 4.2rem;
      color: $keyColor;
    }
  }
  p {
    padding: 10px;
    font-size: 1.5rem;
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 30px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Skills
#skills {
  background-color: $baseColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
  h2 {
    color: $keyColor;
    margin-bottom: 20px;
  }
  .skill-box {
    @include flex(1);
    margin: 10px 0;
    background-color: $subColor;
    @include border-radius(0px);
    @include box-sizing(border-box);
  }
  
  
/*  i {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding-top: 10px;
    background-color: $keyColor;
    font-size: 2rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(0%);
    @extend .block-center
    }
*/
  h3 {
    @extend .abel;
    @extend .uppercase;
    background-color: $keyColor;
    color: $baseColor;
    margin-bottom:10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    }
  }


// Contact
#contact {
    background-color: $subColor;
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
    color: #FFF;
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      height: 30px;
      color: #FFF;
      background-color: $keyColor;
      @include border-radius(5%);
    }
}


/* Footer
------------------------------------------------------------*/
footer {
  background-color: $subColor;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
}

// PC
@media (min-width: 769px) {
  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  /* Header
  ------------------------------------------------------------*/
  .button-contact {
    &:hover, &:active {
      background-color: $fontColor;
      color: #FFF;
    }
  }
  // PCは写真を500px表示
  header {
  .header-photo { 
    background-image: url("../images/PAKPIANO9V9A7324_TP_V.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

  // Skills
  #skills {
    .container {
      @include flex-direction(row);
      justify-content: space-between;
    }
    .skill-box {
      margin: 0 10px;
    }
  }

  // Contact
  #contact {
    ul {
      a {
        &:hover {
          background-color: darken($keyColor, 10%);
        }
      }
    }
  }
}

